## EDA PROYECTO INSIGTH SEEKERS

In [1]:
# importar librerias
import pandas as pd

**Informaci√≥n general**

In [12]:
#apertura del archivo
df_info= pd.read_csv("hr_raw_data.csv", index_col = 0)

pd.set_option('display.max_rows', None)

# hacemos un ".head()" para mostrar las 5 primeras filas del dataframe
df_info

               Age Attrition     BusinessTravel DailyRate  \
0               51        No                NaN    684,0$
1               52        No                NaN    699,0$
2               42        No      travel_rarely    532,0$
3               47        No      travel_rarely    359,0$
4               46        No                NaN   1319,0$
5               48        No                NaN    117,0$
6               59        No                NaN   1435,0$
7               42        No      travel_rarely    635,0$
8               41        No                NaN   1276,0$
9               41        No  travel_frequently    840,0$
10              41        No         non-travel    247,0$
11              56        No      travel_rarely   1369,0$
12              38        No                NaN    201,0$
13              41       Yes      travel_rarely   1360,0$
14              55        No                NaN    692,0$
15              40        No      travel_rarely   1398,0$
16              58       Yes      travel_rarely    286,0$
17              46        No      travel_rarely   1402,0$
18              35        No                NaN    819,0$
19              40        No      travel_rarely    884,0$
20              45        No         non-travel   1238,0$
21              33        No                NaN    515,0$
22              36        No                NaN   1223,0$
23              47        No                NaN    202,0$
24              36        No      travel_rarely    928,0$
25              35        No                NaN    607,0$
26              52       Yes                NaN    266,0$
27              36        No                NaN    429,0$
28              33        No      travel_rarely    589,0$
29              34        No         non-travel      nan$
30              41        No                NaN      nan$
31     forty-seven        No                NaN   1180,0$
32              53        No      travel_rarely   1282,0$
33              35        No                NaN    776,0$
34              34        No      travel_rarely    665,0$
35              46        No      travel_rarely    526,0$
36              43        No                NaN   1034,0$
37              36        No                NaN   1403,0$
38              60        No  travel_frequently   1499,0$
39              40        No  travel_frequently    580,0$
40              32        No      travel_rarely    859,0$
41              41        No      travel_rarely    263,0$
42              53        No                NaN   1376,0$
43              36       Yes      travel_rarely    885,0$
44              46        No                NaN   1003,0$
45              38        No      travel_rarely   1321,0$
46              51        No                NaN      nan$
47              43        No                NaN    394,0$
48              37        No                NaN   1372,0$
49              32        No      travel_rarely      nan$
50              38        No                NaN   1333,0$
51              46        No                NaN    228,0$
52              35       Yes      travel_rarely    737,0$
53              43        No                NaN    823,0$
54              56        No         non-travel    667,0$
55              36        No         non-travel    301,0$
56              38        No                NaN    573,0$
57              49        No                NaN      nan$
58              39        No      travel_rarely   1329,0$
59              40        No                NaN    630,0$
60              36        No                NaN      nan$
61              37        No                NaN   1063,0$
62              35        No                NaN   1017,0$
63              33        No  travel_frequently   1296,0$
64              50        No      travel_rarely    939,0$
65              48        No      travel_rarely   1355,0$
66              44        No      travel_rarely   1448,0$
67              44        No      travel_rarely    200,0$
68              40        No                NaN   1202,0$
69              34        No      travel_rarely    404,0$
70              35        No         non-travel    208,0$
71              50        No                NaN    813,0$
72              49        No                NaN    465,0$
73              38        No  travel_frequently   1189,0$
74              33        No                NaN      nan$
75              47        No      travel_rarely   1001,0$
76              38        No                NaN   1394,0$
77              37        No      travel_rarely    161,0$
78              30        No                NaN    288,0$
79     fifty-eight        No      travel_rarely    682,0$
80              34        No      travel_rarely   1354,0$
81              58       Yes      travel_rarely    147,0$
82              38        No                NaN    119,0$
83              29        No  travel_frequently   1413,0$
84              55        No      travel_rarely    452,0$
85              41        No                NaN    334,0$
86              39        No      travel_rarely   1132,0$
87              38        No                NaN      nan$
88              43        No                NaN    982,0$
89              31        No                NaN    480,0$
90              50        No      travel_rarely   1099,0$
91              35        No                NaN    672,0$
92              47        No                NaN   1379,0$
93              35        No                NaN    583,0$
94              40        No      travel_rarely   1492,0$
95              45        No                NaN   1050,0$
96              33        No                NaN    117,0$
97              36        No  travel_frequently    469,0$
98              45       Yes                NaN      nan$
99              51        No  travel_frequently    237,0$
100             34        No      travel_rarely   1440,0$
101             43        No      travel_rarely   1291,0$
102             34        No                NaN   1157,0$
103             38        No                NaN   1336,0$
104             48        No                NaN   1224,0$
105             34        No                NaN    735,0$
106             32        No      travel_rarely      nan$
107             29        No      travel_rarely   1389,0$
108             46        No                NaN    638,0$
109             30        No                NaN   1240,0$
110             45        No                NaN    194,0$
111             30        No      travel_rarely   1339,0$
112             30        No                NaN    111,0$
113             34        No  travel_frequently      nan$
114             51        No      travel_rarely   1469,0$
115             34        No                NaN    470,0$
116             35        No      travel_rarely   1232,0$
117             45        No  travel_frequently   1249,0$
118             39        No                NaN    117,0$
119             31        No                NaN    798,0$
120             39        No                NaN    672,0$
121             45        No      travel_rarely    549,0$
122             30        No      travel_rarely    570,0$
123             31        No                NaN   1232,0$
124             36        No                NaN    541,0$
125             36        No      travel_rarely    164,0$
126             55        No      travel_rarely   1117,0$
127             35        No                NaN    619,0$
128             42        No      travel_rarely    319,0$
129             52        No      travel_rarely    956,0$
130             49        No                NaN   1245,0$
131             34        No      travel_rarely   1397,0$
132             33       Yes      travel_rarely    527,0$
133             33        No                NaN    213,0$
134             53        No      travel_rarely      nan$
135             49        No      travel_rarely    527,0$
136             35        No                NaN    882,0$
137             38        No      travel_rarely    330,0$
138             46        No                NaN    406,0$
139             36        No         non-travel    217,0$
140             42       Yes  travel_frequently    481,0$
141             34        No  travel_frequently    669,0$
142             30        No      travel_rarely   1465,0$
143             54        No      travel_rarely    685,0$
144             31        No      travel_rarely   1062,0$
145             44        No                NaN   1099,0$
146             55        No         non-travel    177,0$
147             44        No      travel_rarely   1199,0$
148             34        No  travel_frequently    648,0$
149             39        No                NaN    412,0$
150             55        No      travel_rarely    282,0$
151             51        No                NaN    770,0$
152             58       Yes                NaN    601,0$
153             48        No                NaN    855,0$
154             29        No      travel_rarely    332,0$
155             34        No                NaN   1326,0$
156             42        No  travel_frequently    748,0$
157             57        No      travel_rarely    405,0$
158             34       Yes      travel_rarely    790,0$
159             54        No  travel_frequently   1050,0$
160             34        No      travel_rarely    971,0$
161             29        No                NaN   1370,0$
162             35        No      travel_rarely    750,0$
163             35       Yes                NaN    880,0$
164             34        No      travel_rarely    678,0$
165             43        No                NaN   1179,0$
166             58        No         non-travel    350,0$
167             36        No      travel_rarely   1266,0$
168             43        No      travel_rarely    574,0$
169             55        No                NaN    189,0$
170             42        No                NaN      nan$
171             40        No                NaN    692,0$
172             56       Yes                NaN    310,0$
173             39        No      travel_rarely    722,0$
174             53        No      travel_rarely   1219,0$
175             27        No  travel_frequently    994,0$
176             30        No  travel_frequently    721,0$
177             35        No                NaN    853,0$
178             32        No      travel_rarely    427,0$
179             30        No      travel_rarely    852,0$
180             46       Yes                NaN    669,0$
181             30        No      travel_rarely   1334,0$
182             32        No                NaN   1093,0$
183             35        No      travel_rarely      nan$
184             32        No                NaN    967,0$
185             41        No      travel_rarely    465,0$
186             40        No      travel_rarely    989,0$
187             45        No                NaN   1195,0$
188             32       Yes      travel_rarely   1045,0$
189             30        No         non-travel    829,0$
190             37        No                NaN    663,0$
191             37        No                NaN    319,0$
192             40        No                NaN   1300,0$
193             36        No         non-travel   1105,0$
194             32        No      travel_rarely    906,0$
195             38        No                NaN    849,0$
196             30        No      travel_rarely   1275,0$
197             39        No                NaN   1218,0$
198             60        No                NaN    422,0$
199             30        No                NaN   1398,0$
200             31        No      travel_rarely   1274,0$
201             33       Yes                NaN   1076,0$
202             50        No                NaN   1207,0$
203             32        No                NaN    430,0$
204             42        No                NaN    933,0$
205             49       Yes                NaN   1184,0$
206             27        No                NaN      nan$
207             33        No      travel_rarely    586,0$
208             52        No                NaN    890,0$
209             32        No                NaN    379,0$
210             36        No                NaN   1425,0$
211             31        No         non-travel   1188,0$
212             36        No      travel_rarely    938,0$
213             52        No                NaN   1053,0$
214             33        No         non-travel    722,0$
215             45        No         non-travel    248,0$
216     thirty-six        No      travel_rarely    796,0$
217             49        No                NaN    174,0$
218             29       Yes                NaN    408,0$
219             29        No                NaN      nan$
220             37        No                NaN    977,0$
221             33        No      travel_rarely    536,0$
222             34        No  travel_frequently    135,0$
223             28        No         non-travel   1476,0$
224             31        No         non-travel    587,0$
225             42        No         non-travel    495,0$
226             40        No      travel_rarely    523,0$
227             34        No                NaN    507,0$
228             58        No      travel_rarely   1055,0$
229             31       Yes  travel_frequently   1445,0$
230             40        No         non-travel    218,0$
231             53        No                NaN    447,0$
232             34        No                NaN    829,0$
233             35        No      travel_rarely   1029,0$
234             37        No                NaN    674,0$
235             42        No  travel_frequently      nan$
236             45        No                NaN    538,0$
237             30       Yes      travel_rarely    740,0$
238             38        No      travel_rarely   1245,0$
239             50        No                NaN   1234,0$
240             39        No      travel_rarely    170,0$
241             34        No      travel_rarely   1130,0$
242             54        No      travel_rarely    584,0$
243             41        No      travel_rarely    918,0$
244             39        No                NaN    792,0$
245             40        No      travel_rarely    611,0$
246             33        No                NaN      nan$
247             36        No                NaN   1383,0$
248             33        No                NaN    867,0$
249             34        No      travel_rarely      nan$
250             29        No  travel_frequently    574,0$
251             46        No      travel_rarely    706,0$
252             27        No      travel_rarely    728,0$
253             31        No                NaN    311,0$
254             45        No      travel_rarely    556,0$
255             34        No      travel_rarely    937,0$
256             31        No                NaN   1125,0$
257             35        No                NaN   1224,0$
258             39        No      travel_rarely    119,0$
259             40        No      travel_rarely    444,0$
260             30        No      travel_rarely    911,0$
261             47        No                NaN      nan$
262             52        No         non-travel    585,0$
263             49        No  travel_frequently      nan$
264             33        No  travel_frequently   1392,0$
265             32        No                NaN   1005,0$
266             38        No  travel_frequently      nan$
267             36        No      travel_rarely   1299,0$
268             42        No                NaN      nan$
269             31        No                NaN    655,0$
270             31        No      travel_rarely    746,0$
271             51        No                NaN    632,0$
272             34       Yes  travel_frequently    658,0$
273             36        No                NaN   1467,0$
274             30        No  travel_frequently   1312,0$
275             33        No         non-travel    750,0$
276             31       Yes                NaN    249,0$
277             41        No      travel_rarely    802,0$
278             26        No      travel_rarely   1355,0$
279             32        No                NaN    689,0$
280             40        No  travel_frequently   1395,0$
281             53        No      travel_rarely   1436,0$
282             29        No         non-travel   1496,0$
283             36        No  travel_frequently   1480,0$
284             33        No      travel_rarely      nan$
285             51        No      travel_rarely    313,0$
286             27        No      travel_rarely    894,0$
287             37        No                NaN    290,0$
288             38        No                NaN   1084,0$
289             49        No         non-travel   1002,0$
290             27        No                NaN   1242,0$
291             45        No                NaN   1052,0$
292             35        No                NaN    944,0$
293             33       Yes      travel_rarely    465,0$
294             52        No                NaN    771,0$
295             40        No                NaN   1416,0$
296             38        No         non-travel   1327,0$
297             46        No                NaN    488,0$
298             45        No      travel_rarely   1385,0$
299             47       Yes         non-travel    666,0$
300             35        No                NaN   1315,0$
301             29        No  travel_frequently    442,0$
302             55        No      travel_rarely    147,0$
303             26       Yes      travel_rarely    950,0$
304             31        No      travel_rarely    218,0$
305             43        No  travel_frequently      nan$
306             31        No      travel_rarely    691,0$
307             32        No                NaN   1018,0$
308             33        No                NaN      nan$
309             43        No  travel_frequently    559,0$
310             29       Yes      travel_rarely    318,0$
311             27        No                NaN   1130,0$
312             29        No      travel_rarely    144,0$
313             37        No                NaN   1319,0$
314             26        No      travel_rarely    933,0$
315             40        No      travel_rarely   1171,0$
316             41       Yes                NaN    143,0$
317             51        No      travel_rarely   1178,0$
318             37        No                NaN   1107,0$
319             56        No                NaN    906,0$
320             41        No      travel_rarely    645,0$
321             46        No                NaN   1485,0$
322             30        No         non-travel   1116,0$
323             35        No      travel_rarely   1276,0$
324             48        No      travel_rarely    163,0$
325             45        No      travel_rarely    561,0$
326             26       Yes  travel_frequently    426,0$
327             41        No                NaN    509,0$
328             34        No                NaN    258,0$
329             31        No      travel_rarely    525,0$
330             43        No  travel_frequently      nan$
331             53        No                NaN    238,0$
332             37        No      travel_rarely    482,0$
333             54        No                NaN    397,0$
334             38        No      travel_rarely    243,0$
335             29        No                NaN    806,0$
336             34        No                NaN   1442,0$
337             39        No                NaN    408,0$
338             32        No                NaN    929,0$
339             38        No      travel_rarely    827,0$
340             27        No      travel_rarely      nan$
341             32        No      travel_rarely   1018,0$
342             47        No                NaN    703,0$

In [7]:
# Cantidad de columnas y filas 

print(f"El n√∫mero de filas que tenemos es {df_info.shape[0]}, y el n√∫mero de columnas es {df_info.shape[1]}")

El n√∫mero de filas que tenemos es 1614, y el n√∫mero de columnas es 41

In [8]:
# TOTA REGISTROS = 1614

df_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1614 entries, 0 to 1613
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1614 non-null   object
 1   Attrition                 1614 non-null   object
 2   BusinessTravel            842 non-null    object
 3   DailyRate                 1614 non-null   object
 4   Department                302 non-null    object
 5   DistanceFromHome          1614 non-null   int64
 6   Education                 1614 non-null   int64
 7   EducationField            869 non-null    object
 8   employeecount             1614 non-null   int64
 9   employeenumber            1183 non-null   object
 10  EnvironmentSatisfaction   1614 non-null   int64
 11  Gender                    1614 non-null   int64
 12  HourlyRate                1614 non-null   object
 13  JobInvolvement            1614 non-null   int64
 14  JobLevel                  1614 non-null   int64
 15  JobRole                   1614 non-null   object
 16  JobSatisfaction           1614 non-null   int64
 17  MaritalStatus             963 non-null    object
 18  MonthlyIncome             771 non-null    object
 19  MonthlyRate               1614 non-null   int64
 20  NUMCOMPANIESWORKED        1614 non-null   int64
 21  Over18                    713 non-null    object
 22  OverTime                  938 non-null    object
 23  PercentSalaryHike         1614 non-null   int64
 24  PerformanceRating         1419 non-null   object
 25  RelationshipSatisfaction  1614 non-null   int64
 26  StandardHours             419 non-null    object
 27  StockOptionLevel          1614 non-null   int64
 28  TOTALWORKINGYEARS         1088 non-null   object
 29  TrainingTimesLastYear     1614 non-null   int64
 30  WORKLIFEBALANCE           1506 non-null   object
 31  YearsAtCompany            1614 non-null   int64
 32  YearsInCurrentRole        34 non-null     object
 33  YearsSinceLastPromotion   1614 non-null   int64
 34  YEARSWITHCURRMANAGER      1614 non-null   int64
 35  SameAsMonthlyIncome       771 non-null    object
 36  DateBirth                 1614 non-null   int64
 37  Salary                    1614 non-null   object
 38  RoleDepartament           302 non-null    object
 39  NUMBERCHILDREN            0 non-null      float64
 40  RemoteWork                1614 non-null   object
dtypes: float64(1), int64(18), object(22)
memory usage: 529.6+ KB

`Anotaciones`

**Columnas con nulos**

- BusinessTravel : muchos nulos, casi la mitad
- Department :muchos nulos, mas de  la mitad
- EducationField : muchos nulos, casi la mitad
- employeenumber : algunos nulos
- MaritalStatus : muchos nulos, casi la mitad
- MonthlyIncome:  muchos nulos, casi la mitad
- Over18 : muchos nulos, mas de  la mitad
- OverTime: muchos nulos, casi la mitad
- PerformanceRating: algunos nulos
- StandardHours: muchos nulos, mas de  la mitad
- TOTALWORKINGYEARS : algunos nulos
- WORKLIFEBALANCE: algunos nulos
- YearsInCurrentRole: muchos nulos, mas de  la mitad
- SameAsMonthlyIncome : muchos nulos, casi la mitad
-  RoleDepartament : muchos nulos, mas de  la mitad
-  NUMBERCHILDREN : no hay datos

**Posibles cambios en tipo dato y limpiez**
 #   Column                       Tipo Dato                          Nulo                                               Limpieza
---  ------                    --------------                    --------------                         --------------------------------------- 
 0   Age                      object cambiar a int                  Non-null                             Los que estan string, cambiar a ordinal
 1   Attrition                 NO REQUIERE CAMBIOS                  Non-null                                     NO REQUIERE CAMBIOS 
 2   BusinessTravel            NO REQUIERE CAMBIOS              Nulos, casi mitad                             Igualar sintaxis(guiones)
 3   DailyRate                 object cambiar a float               Non-null                       Cambiar 'nan$' a n√∫mero, agregar $ en columna
 4   Department                NO REQUIERE CAMBIOS              Nulos, mas de  la mitad                          NO REQUIERE CAMBIOS
 5   DistanceFromHome          NO REQUIERE CAMBIOS                  Non-null                   Todos en valores positivos.Agregar colum(km-mill)
 6   Education                 NO REQUIERE CAMBIOS                  Non-null                                         NO REQUIERE CAMBIOS 
 7   EducationField            NO REQUIERE CAMBIOS          Muchos nulos, casi la mitad                          NO REQUIERE CAMBIOS
 8   employeecount             NO REQUIERE CAMBIOS                  Non-null                                         NO REQUIERE CAMBIOS 
 9   employeenumber            object cambiar a int             algunos nulos                                    NO REQUIERE CAMBIOS 
 10  EnvironmentSatisfaction   NO REQUIERE CAMBIOS                  Non-null                                           NO REQUIERE CAMBIOS
 11  Gender (Genero)           int cambiar a object                 Non-null                                        NO REQUIERE CAMBIOS
 12  HourlyRate                object cambiar a float               Non-null           Not Available debe cambiarse- se puede calcular posterior
 13  JobInvolvement            NO REQUIERE CAMBIOS                  Non-null                                         NO REQUIERE CAMBIOS
 14  JobLevel                  NO REQUIERE CAMBIOS                  Non-null                            sintaxis con capitalize letter
 15  JobRole                   NO REQUIERE CAMBIOS                  Non-null                                    NO REQUIERE CAMBIOS
 16  JobSatisfaction           NO REQUIERE CAMBIOS                  Non-null                                   NO REQUIERE CAMBIOS
 17  MaritalStatus             NO REQUIERE CAMBIOS            muchos nulos, casi la mitad                   corregir sintaxis, capitalize
 18  MonthlyIncome             object cambiar a float      muchos nulos, casi la mitad                         agregar $ en columna
 19  MonthlyRate               int cambiar a float                  Non-null                                   agregar $ en columna
 20  NUMCOMPANIESWORKED        NO REQUIERE CAMBIOS                  Non-null                             cambiar columna en capitalize
 21  Over18                    NO REQUIERE CAMBIOS          muchos nulos, casi la mitad             se puede actualizar con age, cambiar Y-Yes
 22  OverTime                  NO REQUIERE CAMBIOS          muchos nulos, casi la mitad                 se pueden calcular los nulos
 23  PercentSalaryHike         1614 non-null   int64  
 24  PerformanceRating         1419 non-null   object 
 25  RelationshipSatisfaction  1614 non-null   int64  
 26  StandardHours             419 non-null    object 
 27  StockOptionLevel          1614 non-null   int64  
 28  TOTALWORKINGYEARS         1088 non-null   object 
 29  TrainingTimesLastYear     1614 non-null   int64  
 30  WORKLIFEBALANCE           1506 non-null   object 
 31  YearsAtCompany            1614 non-null   int64  
 32  YearsInCurrentRole        34 non-null     object 
 33  YearsSinceLastPromotion   1614 non-null   int64  
 34  YEARSWITHCURRMANAGER      1614 non-null   int64  
 35  SameAsMonthlyIncome       771 non-null    object 
 36  DateBirth                 1614 non-null   int64  
 37  Salary                    1614 non-null   object 
 38  RoleDepartament           302 non-null    object 
 39  NUMBERCHILDREN            0 non-null      float64
 40  RemoteWork                1614 non-null   object